<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block tytul %} {{ config.SITE_NAME }} {% endblock%}</title>
</head>
<body>

<nav>
     <ul>
         <li>
             <a href="{{ url_for('index') }}">Strona główna</a>
         </li>
         {% if g.user %}
            <li>
                <a href="{{ url_for('pytania') }}">Pytania</a>
            </li>
             <li>
                 <a href="{{ url_for('users.wyloguj') }}">Wyloguj</a>
             </li>
         {% else %}
             <li>
                 <a href="{{ url_for('users.loguj') }}">Zaloguj</a>
             </li>
             <li>
                 <a href="{{ url_for('users.dodaj') }}">Dodaj konto</a>
             </li>
         {% endif %}
     </ul>
</nav>

{% with komunikaty = get_flashed_messages() %}
  {% if komunikaty %}
    {% for k in komunikaty %}
      <p>{{ k }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

    <h1>{% block h1 %} {{ config.SITE_NAME }} {% endblock%}</h1>

    {% block body %} {% endblock%}

</body>
</html>