<form method="post">

    <label for="pytanie">Pytanie:</label><br>
    <input type="text" name="pytanie" required value="{{ pytanie_form.pytanie }}">
<br>
    <label for="odp1">Odpowiedź 1:</label><br>
    <input type="checkbox" name="poprawne" value="1"> Poprawna<br>
    <input type="text" name="odpowiedzi" required>
<br>
    <label for="odp1">Odpowiedź 2:</label><br>
    <input type="checkbox" name="poprawne" value="2"> Poprawna<br>
    <input type="text" name="odpowiedzi" required>
<br>
    <label for="odp1">Odpowiedź 3:</label><br>
    <input type="checkbox" name="poprawne" value="3"> Poprawna<br>
    <input type="text" name="odpowiedzi" required>
<br>
    <input type="submit" value="Dodaj">

</form>