<form method="post">

    <label for="pytanie">Pytanie:</label><br>
    <input type="text" name="pytanie" id="pytanie" required>
<br>
    <label for="odp1">Odpowiedź 1:</label><br>
    <input type="checkbox" name="pop1" id=""> Poprawna<br>
    <input type="text" name="odp1" id="odp1" required>
<br>
    <label for="odp1">Odpowiedź 2:</label><br>
    <input type="checkbox" name="pop2" id=""> Poprawna<br>
    <input type="text" name="odp2" id="odp1" required>
<br>
    <label for="odp1">Odpowiedź 3:</label><br>
    <input type="checkbox" name="pop3" id=""> Poprawna<br>
    <input type="text" name="odp3" id="odp3" required>
<br>
    <input type="submit" value="Dodaj">

</form>