<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista pytań</title>
</head>
<body>

{% if not user.is_authenticated %}
    <a href="{% url 'login' %}">Zaloguj się</a>
    <a href="{% url 'django_registration_register' %}">Utwórz konto</a>
{% else %}
    <a href="{% url 'polls:create' %}">Dodaj pytanie</a>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Wyloguj się">
    </form>
{% endif %}

{% if latest_question_list %}
    <ul>
        {% for q in latest_question_list %}
        <li><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a> (<a href="{% url 'polls:delete' q.id %}">Usuń</a>)</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Brak ankiet!</p>
{% endif %}

</body>
</html>