{% extends "base.html" %}
{% block tytul %} Lista zadań {% endblock%}
{% block h1 %} Lista zadań {% endblock%}
{% block body %}

  <ul>
  {% for z in zadania %}
    <li>
      {{ z.zadanie }} - {{ z.data_dodania }}

      {% if not z.zrobione %}
      <form method="POST" action="{{ url_for('todo.zrobione') }}">
        <input type="hidden" name="id" value="{{ z.id }}">
        <input type="submit" value="Wykonane">
      </form>
      {% else %}
      <form method="POST" action="{{ url_for('todo.usun') }}">
        <input type="hidden" name="id" value="{{ z.id }}">
        <input type="submit" value="Usuń">
      </form>
      {% endif %}

    </li>
  {% endfor %}
  </ul>

{% endblock %}