{% load static %}<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block tytul %}Abolwent{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">{% block h1 %}Serwis absolwentów I LO{% endblock %}</span>
    <span class="site-heading-lower">Absolwent</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">I LO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href=".">Strona główna
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'wiadomosci:lista' %}">Aktualności</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'osoby:lista' %}">Absolwenci</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="#">Ankiety</a>
          </li>
          <li class="nav-item px-lg-4">
            {% if not user.is_authenticated %}
              <a class="nav-link text-uppercase text-expanded" href="{% url 'osoby:loguj-osobe' %}">Zaloguj się</a>
            {% else %}
              <a class="nav-link text-uppercase text-expanded" href="{% url 'osoby:wyloguj-osobe' %}">Wyloguj się</a>
            {% endif %}
          </li>
          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profil</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'osoby:rejestruj-osobe' %}">Załóż konto</a>
              <a class="dropdown-item" href="{% url 'osoby:edytuj-osobe' %}">Edytuj dane</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">

        <div class="well well-sm bg-primary rounded">
          {% if messages %}
          <ul>
            {% for komunikat in messages %}
            <li>{{ komunikat|capfirst }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

      {% block tresc %}{% endblock %}
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Misja serwisu</span>
              <span class="section-heading-lower">Przesłanie</span>
            </h2>
            <p class="mb-0">Szkoła to coś więcej niż miejsce nauki, to grupa przyjaciół, wspomnienia, kontakty,
              o których cały czas pamiętamy i rozmawiamy. Przyłącz się do nas, buduj i podtrzymuj wspólnotę
              absolwentów.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-white text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
