<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block tytul %} {{ config.SITE_NAME }} {% endblock %}</title>
    <style>
        body {
          background-color: lightgray;
        }

        h1 {
          color: white;
          text-align: center;
        }

        p {
          font-family: verdana;
          font-size: 20px;
        }
    </style>
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Strona główna</a>
        </li>
        <li>
            <a href="{{ url_for('pytania.lista') }}">Pytania »»»</a>
        </li>
    </ul>
</nav>

<h1>{% block h1 %} {{ config.SITE_NAME }} {% endblock %}</h1>

<p>
    {% for k in get_flashed_messages() %}
        {{ k }}
    {% endfor %}
</p>

{% block body %} <p>Witaj w naszym serwisie!</p> {% endblock %}

</body>
</html>