<form method="post" action="{{ url_for('pytania.dodaj_odpowiedzi', pid=pytanie.id) }}">
    <label for="odp1">Odpowiedź 1:</label><br>
    <input type="text" name="odpowiedzi" id="odp1" required value=""><br>
    <label for="pop1">Poprawna: </label>
    <input type="checkbox" name="poprawne" id="pop1" value="1">
<br><br>
    <label for="odp2">Odpowiedź 2:</label><br>
    <input type="text" name="odpowiedzi" id="odp2" required value=""><br>
    <label for="pop2">Poprawna: </label>
    <input type="checkbox" name="poprawne" id="pop2" value="2">
<br><br>
    <label for="odp3">Odpowiedź 3:</label><br>
    <input type="text" name="odpowiedzi" id="odp3" required value=""><br>
    <label for="pop3">Poprawna: </label>
    <input type="checkbox" name="poprawne" id="pop3" value="3">
<br><br>
    <input type="submit" value="Zapisz">
</form>