<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.SITE_NAME }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ config.SITE_NAME }}</h1>

    <ol>
    {% for zadanie in zadania %}

        {% if zadanie.zrobione %}
            <li class="done">{{ zadanie.zadanie }} – <i>{{ zadanie.data_pub }}</i></li>
        {% else %}
            <li>{{ zadanie.zadanie }} – <i>{{ zadanie.data_pub }}</i>
            <form method="POST" action="{{ url_for('zrobione') }}">
                <input type="hidden" name="id" value="{{ zadanie.id }}">
                <button type="submit">Wykonane</button>
            </form>
        {% endif %}
            <form method="POST" action="{{ url_for('usun') }}">
                <input type="hidden" name="id" value="{{ zadanie.id }}">
                <button type="submit">Usuń</button>
            </form>
            </li>

    {% endfor %}
    </ol>

 <!-- formularz dodawania zadania -->
    <form class="add-form" method="POST" action="{{ url_for('zadania') }}">
      <input type="text" name="zadanie" value="">
      <button type="submit">Dodaj zadanie</button>
    </form>

    <!-- informacje o sukcesie lub błędzie -->
    <p>
      {% if error %}
        <strong class="error">Błąd: {{ error }}</strong>
      {% endif %}

      {% for message in get_flashed_messages() %}
        <strong class="success">{{ message }}</strong>
      {% endfor %}
    </p>

<p>
    <a href="{{ url_for('index') }}">Strona główna</a>
</p>


</body>
</html>