<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.SITE_NAME }}</title>
</head>
<body>
    <h1>{{ config.SITE_NAME }}</h1>

    <ol>
    {% for zadanie in zadania %}
        <li>{{ zadanie.zadanie }} – <i>{{ zadanie.data_pub }}</i></li>
    {% endfor %}
    </ol>

 <!-- formularz dodawania zadania -->
    <form class="add-form" method="POST" action="{{ url_for('zadania') }}">
      <input type="text" name="zadanie" value="">
      <button type="submit">Dodaj zadanie</button>
    </form>

    <!-- informacje o sukcesie lub błędzie -->
    <p>
      {% if error %}
        <strong class="error">Błąd: {{ error }}</strong>
      {% endif %}

      {% for message in get_flashed_messages() %}
        <strong class="success">{{ message }}</strong>
      {% endfor %}
    </p>




</body>
</html>